@page "/"
@using Blorc.Attributes
@using Blorc.Services

@inherits Blorc.Example.Components.IndexComponent
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" @ref="_surveyPrompt"/>
<button @onclick="OnButtonClick">Click</button>

@code
{
    [InjectAsService(typeof(SurveyVisualizationService), nameof(SurveyVisualizationService))]
    private SurveyPrompt _surveyPrompt;
}
